# Import optimus and pandas

In [1]:
from optimus import Optimus
from pyspark.sql.functions import *
import pandas as pd
import numpy as np
op = Optimus()

# Read the data and transform to Spark dataframe

In [18]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo_pd = pd.read_csv(url, sep = '\t')
chipo_pd[['item_name', 'choice_description', 'item_price']] = chipo_pd[['item_name', 'choice_description', 'item_price']].astype(str)

In [19]:
chipo = op.spark.createDataFrame(chipo_pd)

# See the data

In [20]:
chipo.table(10)

# How many items are more expensive than $10?

In [21]:
# Use substr (like in SQL) to get from the first numer to the end and then cast it
chipo = chipo.withColumn("item_price", chipo.item_price.substr(2,10).cast("float"))
# Delete the duplicates in item_name and quantity
chipo_filtered = chipo.rows.drop_duplicates(['item_name','quantity'])
# Select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered.where("quantity = 1")
# Select products that aare more expensive than $10
chipo_one_prod.where("item_price > 10").show()

+--------+--------+--------------------+--------------------+----------+
|order_id|quantity|           item_name|  choice_description|item_price|
+--------+--------+--------------------+--------------------+----------+
|      75|       1|Barbacoa Crispy T...|[Tomatillo Red Ch...|     11.75|
|      83|       1|   Veggie Salad Bowl|[Fresh Tomato Sal...|     11.25|
|     468|       1| Carnitas Salad Bowl|[Fresh Tomato Sal...|     11.89|
|      19|       1|       Barbacoa Bowl|[Roasted Chili Co...|     11.75|
|       4|       1|       Steak Burrito|[Tomatillo Red Ch...|     11.75|
|      26|       1|      Veggie Burrito|[Tomatillo Red Ch...|     11.25|
|     109|       1|       Chicken Salad|[Roasted Chili Co...|     10.98|
|     304|       1|   Veggie Soft Tacos|[Tomatillo Red Ch...|     11.25|
|     501|       1| Barbacoa Salad Bowl|[Fresh Tomato Sal...|     11.89|
|       3|       1|        Chicken Bowl|[Fresh Tomato Sal...|     10.98|
|      28|       1|         Veggie Bowl|[Fresh Tomato Sal...|     11.25|
|     250|       1|    Steak Salad Bowl|[Fresh Tomato Sal...|     11.89|
+--------+--------+--------------------+--------------------+----------+

# What is the price of each item?