In [1]:
from optimus import Optimus
from pyspark.sql.functions import *
import pandas as pd
import numpy as np
op = Optimus()

# Create sample data

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

# Create Spark DF

In [6]:
df_pd = pd.DataFrame(raw_data)

In [9]:
regiment = op.spark.createDataFrame(df_pd)

In [10]:
regiment.table()

# What is the mean preTestScore from the regiment Nighthawks?

In [13]:
regiment.where(regiment.regiment == "Nighthawks").groupBy("regiment").mean().table()

# Present general statistics by company

In [37]:
# Maybe not the cleanest solution but it works :)
regiment.groupby('company').agg(count("preTestScore"),
                                count("postTestScore"), 
                               mean("preTestScore"), 
                               mean("postTestScore"),
                               stddev("preTestScore"), 
                               stddev("postTestScore")).table()

In [38]:
from pyspark.sql.functions import pandas_udf, PandasUDFType

@pandas_udf("double", PandasUDFType.GROUPED_AGG)
def mean_udf(v):
    return v.mean()

# What is the mean each company's preTestScore?

In [46]:
regiment.groupby('company').mean("preTestScore").table()

# Present the mean preTestScores grouped by regiment and company

In [47]:
regiment.groupby(["regiment","company"]).mean("preTestScore").table()

# Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [59]:
# Not great, not terrible
regiment.groupby(["regiment","company"]).pivot("company").mean("preTestScore").drop("company").table()

# Group the entire dataframe by regiment and company

In [61]:
regiment.groupby(["regiment","company"]).mean().table()

# What is the number of observations in each regiment and company

In [62]:
regiment.groupby(['company', 'regiment']).count().table()

# Iterate over a group and print the name and the whole data from the regiment

In [68]:
# Get unique values in the grouping column
groups = [x[0] for x in regiment.select("regiment").distinct().collect()]

# Create a filtered DataFrame for each group in a list comprehension
groups_list = [regiment.filter(col('regiment')==x) for x in groups]

# show the results
[x.show() for x in groups_list]

+----------+-------+--------+------------+-------------+
|  regiment|company|    name|preTestScore|postTestScore|
+----------+-------+--------+------------+-------------+
|Nighthawks|    1st|  Miller|           4|           25|
|Nighthawks|    1st|Jacobson|          24|           94|
|Nighthawks|    2nd|     Ali|          31|           57|
|Nighthawks|    2nd|  Milner|           2|           62|
+----------+-------+--------+------------+-------------+

+--------+-------+------+------------+-------------+
|regiment|company|  name|preTestScore|postTestScore|
+--------+-------+------+------------+-------------+
|Dragoons|    1st| Cooze|           3|           70|
|Dragoons|    1st| Jacon|           4|           25|
|Dragoons|    2nd|Ryaner|          24|           94|
|Dragoons|    2nd|  Sone|          31|           57|
+--------+-------+------+------------+-------------+

+--------+-------+-----+------------+-------------+
|regiment|company| name|preTestScore|postTestScore|
+--------+-------+-----+------------+-------------+
|  Scouts|    1st|Sloan|           2|           62|
|  Scouts|    1st|Piger|           3|           70|
|  Scouts|    2nd|Riani|           2|           62|
|  Scouts|    2nd|  Ali|           3|           70|
+--------+-------+-----+------------+-------------+

[None, None, None]